<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walking.meeting.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.walking.meeting.dataobject.dao.UserDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="pswd" jdbcType="VARCHAR" property="pswd" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="VARCHAR" property="deleteTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, pswd, department_name, email, question, answer, role_id, create_time, 
    update_time, delete_time
  </sql>
</mapper>